@import "tailwindcss";

@font-face {
  font-family: Biryani;
  src: url("../assets/fonts/Biryani/Biryani-Regular.ttf") format("truetype");
  font-family: Kanit;
  src: url("../assets/fonts/Kanit/static/Kanit-Regular.ttf") format("truetype");
}

/* On utilise thème pour paramétrer les couleurs, polices, fonts */
@theme {
  --font-biryani: "Biryani", sans-serif;
  --font-kanit: "Kanit", sans-serif;
  --color-primary: #56d2d2;
  --color-primary-darker: #42babf;
  --color-secondary: #593ea1;
  --color-grey-bg: #f3f3f3;
  --color-grey-text: #acadb9;
  --color-grey-navbar: #acadb9;
}

/* On utilise base pour stocker le css basique d'un élément html ( h1, nav, li, section, body ... */
@layer base {
  body {
    @apply font-biryani text-[16px];
  }

  section {
    @apply p-4 bg-grey-bg;
  }

  input {
    @apply outline-none;
  }

  h1,
  h2,
  h3 {
    @apply font-kanit;
  }
}

/* Components permet de stocker le css d'un composant dans une seule propriété */
@layer components {
  .btn-primary {
    @apply p-4 text-white rounded-xl bg-primary;
  }

  .btn-secondary {
    @apply p-4 text-white rounded-xl  bg-secondary;
  }

  .btn-gradient {
    @apply p-3 text-white rounded-2xl bg-linear-to-b from-[#56d2d2] from-40% to-[#593ea1];
  }

  .btn-gradient-border {
    @apply p-1 text-gray-900 rounded-xl border-1 border-transparent;
    background-image: linear-gradient(#f3f3f3, #f3f3f3),
      linear-gradient(to bottom, #56d2d2 40%, #593ea1);
    /* Fbond blanc serre le contenu, puis le dégradé couvre la bordure */
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
  }
  .tag-gradient-border {
    @apply py-2 px-3 rounded-2xl border-1 border-transparent;
    background-image: linear-gradient(#ffffff, #ffffff),
      linear-gradient(to bottom, #56d2d2 40%, #593ea1);
    /* Fond blanc serre le contenu, puis le dégradé couvre la bordure */
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
  }

  .text-gradient {
    @apply bg-linear-to-b from-[#56d2d2] from-40% to-[#593ea1];
    /* clip et transparence pour le texte */
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .btn-white {
    @apply py-2 px-3 rounded-xl border-1 text-primary-darker bg-white;
  }

  .tag {
    @apply py-2 px-3 rounded-2xl border-1 text-primary-darker;
  }
}

/* Utility permet de fusionner plusieurs propriété sous une seule */
@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

/* Check JavaScript Mastery TAILWIND 4.0 course for checkbox colors, Fluid responsive texts, file inputs, Highlights, Carrets, Accordeons..  */
